#navBar li:nth-child(7) a{border:2px solid var(--color1);border-radius:15px;}


:root {
  --mainGridC: 1fr;
  --span2Span1: span 1;
  --mainGridCGridGap:;

  --h1GridC: 1/2;

  --ThumbnailRow: 200px auto;
}
/* ------------------------------------------- MEDIA QUERIES ------------------------------------------- */
@media screen and (min-width: 576px) {
    :root {
      --ThumbnailRow: 300px auto;
    }
}
@media screen and (min-width: 768px) {
    :root {
      --mainGridC: 1fr 1fr;
      --span2Span1: 1fr 1fr;

      --mainGridCGridGap: 20px;

      --h1GridC: 1/3;
      --ThumbnailRow: 300px auto;




    }
}
@media screen and (min-width: 992px) {
    :root {

      --ThumbnailRow: 350px auto;

    }
}
@media screen and (min-width: 1200px) {
    :root {

      --ThumbnailRow: 400px auto;
    }
}

/* ----------------------------------------- LOGIC FOLD/ ----------------------------------------- */





/*CLASES GENERALES*/

main {
  grid-column: var(--mainCol);
  display: grid;
  grid-template-columns: var(--mainGridC);
  grid-gap: var(--mainGridCGridGap);
  background: var(--color4);
  padding: 0 10%;
}

h4 {
  font-size: var(--size5);
  letter-spacing: 2px;
  margin: 10px 0;
  padding: 10px;
}

.noticias figcaption p {
  font-size: var(--size8);
  /* letter-spacing: 1px; */
  line-height: 1.9em;
  padding:  0 10px;
}



/*CSS ESPECIFICO*/

h1 {
  margin-top: 40px;
  grid-column: var(--h1GridC);
  color: var(--color1);
  font-size: var(--size2);d
}



.noticiaThumbnail {
  margin: 40px 0;
  display: grid;
  grid-template-rows: var(--ThumbnailRow);
  grid-column: var(--span2Span1);
  border-radius: 4px;
  overflow: hidden!important;
  background-color: var(--color5);;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.noticiaThumbnail:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.noticiaThumbnail img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  grid-row: 1/2;
  object-fit: cover;
}

.noticiaThumbnail figcaption {
  padding: 0 5%;
  color: var(--color1);
}

.noticiaThumbnail p {
  margin-bottom: 10px;
  color: var(--color1);
}

.noticiaThumbnail a {
  font-size: var(--size8);
  border: 2px solid var(--color1);
  border-radius: 8px;
  padding: 5px 7px!important;
  position: relative;
  z-index: 0;
  transition: .3s;
  margin-bottom: 10px!important;
}

.noticiaThumbnail a:hover {
  background: var(--color1);
  color:var(--color5);
}
