#navBar li:nth-child(7) a{border:2px solid var(--color1);border-radius:15px;}



:root {
  --h1FontSize: 18px;
  --figcaptionMarginTop: -20px;
  --imgHeight: 60vw;
  --backButtonWidth: 28px;
  --backButtonHeight:50px;
  --backButtonTop: 20px;
  --backButtonLeft:;

  --socialSharingTop: 200px;
  --socialSharingAHeight: 35px;
  --socialSharingAWidth: 35px;

}
/* ------------------------------------------- MEDIA QUERIES ------------------------------------------- */
@media screen and (min-width: 576px) {
    :root {
  --h1FontSize: 26px;
  --figcaptionMarginTop: -40px;
  --imgHeight: 60vw;
    }
}
@media screen and (min-width: 768px) {
    :root {
  --h1FontSize: 28px;
  --figcaptionMarginTop: -40px;
  --imgHeight: 50vw;
    }
}
@media screen and (min-width: 992px) {
    :root {
  --h1FontSize: 36px;
  --figcaptionMarginTop: -50px;
  --imgHeight: 50vw;
    }
}
@media screen and (min-width: 1200px) {
    :root {
  --h1FontSize: 36px;
  --figcaptionMarginTop: -60px;
  --imgHeight: 40vw;
    }
}

body {
  background-color: var(--color4)!important;

}

main {
  position: relative;
    grid-column: var(--mainCol);
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#shareTitle {
  font-size: 1.4em;
  margin: 0 auto;
}

#socialSharing {
  top: var(--socialSharingTop);
  right: 4px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin: 5px auto;
}

#socialSharing a {
  width: var(--socialSharingAWidth);
  height: var(--socialSharingAHeight);
  font-size:  1.5em;
  margin: auto 4px;
  border-radius: 50%;
}



#socialSharing a svg {
  fill: var(--color1);
  background:var(--color5);
  border-radius: 50%;
}

#socialSharing a svg:hover {
  fill:var(--color5);
  background:var(--color1);
  border-radius: 50%;
}

#buttonBack {
  font-size: var(--size8);
  border: 2px solid var(--color1);
  border-radius: 12px;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  transition: .3s;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}

#buttonBack:hover {
  background: var(--color1);
  color: var(--color5)!important;
}

#buttonBacTxt {
  font-size: var(--size5);
  font-weight: bold;
  margin: auto;
}

#buttonBackImg {
  width: var(--backButtonWidth);
  height: var(--backButtonHeight);
  margin: auto;
  margin-bottom: 4px;

}


#title {
  color: black;
  font-size: var(--h1FontSize);
}

#NoticiaBody {
  white-space: pre-wrap;
  margin-bottom: 30px;
}


#noticiaImg {
  width: 100%;
  height: var(--imgHeight);
  object-fit: cover;
}

#titleContainer {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: var(--color3);
  margin-top: var(--figcaptionMarginTop);
  margin-bottom:40px;

}
